*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold
}

.language{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.box{
    padding: 5px 5px;
    background-color: lightcyan;
    /* margin: 10px; */
}